/* adapted from https://draculatheme.com/spec */
:root {
  --bg: #282a36;
  --selection: #44475a;
  --fg: #f8f8f2;
  --comment: #6272a4;
  --red: #ff5555;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --purple: #bd93f9;
  --pink: #ff79c6;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Noto Sans Mono', Inter, Roboto, Arial, monospace, sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

a {
  background-color: var(--bg);
  color: var(--cyan);
}

a:hover {
  background-color: var(--cyan);
  color: var(--bg);
  text-decoration: none;
}

h1, h2 {
  background-color: var(--bg);
  color: var(--pink);
  font-weight: bold;
  position: relative;
  margin-left: 0;
}

h1 {
  font-size: 2rem;
  padding-top: 4rem;
}

h2 {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.container {
  margin: 0 auto 8rem;
  padding: 0 10px;
  max-width: 768px;
}

li {
  margin-bottom: 8px;
}

li:last-child {
  margin-bottom: 0;
}
