/* adapted from https://draculatheme.com/spec */
:root {
  --bg: #282a36;
  --selection: #44475a;
  --fg: #f8f8f2;
  --comment: #6272a4;
  --red: #ff5555;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --cyan: #8be9fd;
  --purple: #bd93f9;
  --pink: #ff79c6;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Noto Sans Mono', Inter, Roboto, Arial, monospace, sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

.container {
  margin: 0;
  padding: 0 10px;
  max-width: 768px;
  counter-reset: line;
}

.line {
  display: block;
  counter-increment: line;
}

.line::before {
  content: counter(line);
  display: inline-block;
  width: 4ch;
  margin-right: 4ch;
  color: var(--comment);
  text-align: right;
}

.line:hover {
    background-color: var(--selection);
}

.bg         { color: var(--bg); }
.selection  { color: var(--selection); }
.fg         { color: var(--fg); }
.comment    { color: var(--comment); }
.red        { color: var(--red); }
.orange     { color: var(--orange); }
.yellow     { color: var(--yellow); }
.green      { color: var(--green); }
.cyan       { color: var(--cyan); }
.purple     { color: var(--purple); }
.pink       { color: var(--pink); }

a {
  background-color: var(--bg);
  color: var(--fg);
}

a:hover {
  background-color: var(--fg);
  color: var(--bg);
  text-decoration: none;
}

a.yellow {
  color: var(--yellow);
}

a.yellow:hover {
  background-color: var(--yellow);
  color: var(--bg);
  text-decoration: none;
}
